In [2]:
# Importing the MySQL Connector/Python
import mysql.connector as connector

# Establishing connection between Python and MySQL database via connector API
connection=connector.connect(
                             user="root",
                             password="Atdimpley$01",
                            )

# Creating a cursor object to communicate with entire MySQL database
cursor = connection.cursor()

# If exist, drop the database first, and create again
try:
    cursor.execute("CREATE DATABASE little_lemon")
except:
    cursor.execute("drop database little_lemon")
    cursor.execute("CREATE DATABASE little_lemon")
print("The database little_lemon is created.\n")    

# Set little_lemon database for use 
cursor.execute("USE little_lemon")
print("The database little_lemon is set for use.\n")

# The SQL query for MenuItems table is: 
create_menuitem_table="""
CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

# Create MenuItems table
cursor.execute(create_menuitem_table)
print("MenuItmes table is created.\n")

# The SQL query for Menu table is:
create_menu_table="""
CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

# Create Menu table
cursor.execute(create_menu_table)
print("Menu table is created.\n")

# The SQL query for Bookings table is:
create_booking_table="""
CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

# Create Bookings table
cursor.execute(create_booking_table)
print("Bookings table is created.\n")

# The SQL query for Bookings table is:
create_orders_table="""
CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

# Create Orders table
cursor.execute(create_orders_table)
print("Orders table is created.\n")

# Confirm if the tables are created
print("Following tables are created in the little_lemon database.\n")
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

The database little_lemon is created.

The database little_lemon is set for use.

MenuItmes table is created.

Menu table is created.

Bookings table is created.

Orders table is created.

Following tables are created in the little_lemon database.

('bookings',)
('menuitems',)
('menus',)
('orders',)

In [3]:
# Inserting query to populate "MenuItems" table

insert_menuitmes="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1,'Olives','Starters',5),
(2,'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10,'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

In [4]:
# Inserting query to populate "Menu" table

insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

In [5]:
# Inserting query to populate "Bookings" table

insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1,12,'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

In [6]:
# Insert query to populate "Orders" table

insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

In [7]:
print("Inserting data in MenuItems table.")
# Populating MenuItems table
cursor.execute(insert_menuitmes)
print("Total number of rows in MenuItem table: ", cursor.rowcount)
connection.commit()

print("Inserting data in Menus table.")
# Populating MenuItems table
cursor.execute(insert_menu)
print("Total number of rows in Menu table: ", cursor.rowcount)
connection.commit()

print("Inserting data in Bookings table.")
# Populating Bookings table
cursor.execute(insert_bookings)
print("Total number of rows in Bookings table: ", cursor.rowcount)
connection.commit()

print("Inserting data in Orders table.")
# Populating Orders table
cursor.execute(insert_orders)
print("Total number of rows in Orders table: ", cursor.rowcount)
connection.commit()

Inserting data in MenuItems table.
Total number of rows in MenuItem table:  17
Inserting data in Menus table.
Total number of rows in Menu table:  12
Inserting data in Bookings table.
Total number of rows in Bookings table:  6
Inserting data in Orders table.
Total number of rows in Orders table:  5

In [8]:
# Read query
all_bookings = """SELECT GuestFirstName, GuestLastName, 
TableNo FROM bookings;"""

# Eexecute query 
cursor.execute(all_bookings)

# Fetching all results that satisfy the query
results = cursor.fetchall()

# Retrieving column names
cols = cursor.column_names

# Print column names and records from results using for loop
print("""Data in the "Bookings" table:""")
print(cols)
for result in results:
    print(result)

Data in the "Bookings" table:
('GuestFirstName', 'GuestLastName', 'TableNo')
('Anna', 'Iversen', 12)
('Joakim', 'Iversen', 12)
('Vanessa', 'McCarthy', 19)
('Marcos', 'Romero', 15)
('Hiroki', 'Yamane', 5)
('Diana', 'Pinto', 8)

In [9]:
# Query to retrieve all bookings is: 
all_menus = """SELECT * FROM Menus;"""

# Execute query 
cursor.execute(all_menus)

# Fetch fist 3 records in results
results = cursor.fetchmany(size=3)

# Retrieving column names
cols = cursor.column_names

# Print column names and records from results using for loop
print("""Data in the "Menu" table:""")
print(cols)
for result in results:
    print(result)

Data in the "Menu" table:
('MenuID', 'ItemID', 'Cuisine')
(1, 1, 'Greek')
(1, 7, 'Greek')
(1, 10, 'Greek')

In [10]:
# Remaining records after fetching the first three
results= cursor.fetchall()
for result in results:
    print(result)

(1, 13, 'Greek')
(2, 3, 'Italian')
(2, 9, 'Italian')
(2, 12, 'Italian')
(2, 15, 'Italian')
(3, 5, 'Turkish')
(3, 11, 'Turkish')
(3, 16, 'Turkish')
(3, 17, 'Turkish')

In [11]:
# Query to retrieve only first three records from the bookings table is:
all_menus = """SELECT * FROM Menus LIMIT 3;"""

# Executing query 
cursor.execute(all_menus)

# Fetching fist 3 records in results
results = cursor.fetchall()   

# Retrieving column names
cols = cursor.column_names

# Printing column names and records from results using for loop
print("""Data in the "Menu" table:""")
print(cols)
for result in results:
    print(result)

Data in the "Menu" table:
('MenuID', 'ItemID', 'Cuisine')
(1, 1, 'Greek')
(1, 7, 'Greek')
(1, 10, 'Greek')

In [12]:
# Closing the cursor and the connection
#if connection.is_connected():
    #cursor.close()
    #print("The cursor is closed.")
    #connection.close()
    #print("MySQL connection is closed.")
#else:
    #print("Connection is already closed")

In [13]:
books = """SELECT * FROM bookings;"""

In [14]:
cursor.execute(books)
results = cursor.fetchall()
for result in results:
    print(result)

(1, 12, 'Anna', 'Iversen', datetime.timedelta(seconds=68400), 1)
(2, 12, 'Joakim', 'Iversen', datetime.timedelta(seconds=68400), 1)
(3, 19, 'Vanessa', 'McCarthy', datetime.timedelta(seconds=54000), 3)
(4, 15, 'Marcos', 'Romero', datetime.timedelta(seconds=63000), 4)
(5, 5, 'Hiroki', 'Yamane', datetime.timedelta(seconds=66600), 2)
(6, 8, 'Diana', 'Pinto', datetime.timedelta(seconds=72000), 5)

In [15]:
cols = cursor.column_names
print(cols)

('BookingID', 'TableNo', 'GuestFirstName', 'GuestLastName', 'BookingSlot', 'EmployeeID')

In [16]:
update_bookings = """
UPDATE bookings
SET TableNo = 10
WHERE BookingID=6;"""

In [17]:
cursor.execute(update_bookings)

In [18]:
connection.commit()

In [19]:
update_booking = """
UPDATE bookings
SET TableNo=11, EmployeeID=6
WHERE BookingID=2;"""

In [20]:
cursor.execute(update_booking)

In [21]:
connection.commit()

In [22]:
book = """ SELECT * FROM Bookings;"""
cursor.execute(book)
results = cursor.fetchall()
for result in results:
    print(result)

(1, 12, 'Anna', 'Iversen', datetime.timedelta(seconds=68400), 1)
(2, 11, 'Joakim', 'Iversen', datetime.timedelta(seconds=68400), 6)
(3, 19, 'Vanessa', 'McCarthy', datetime.timedelta(seconds=54000), 3)
(4, 15, 'Marcos', 'Romero', datetime.timedelta(seconds=63000), 4)
(5, 5, 'Hiroki', 'Yamane', datetime.timedelta(seconds=66600), 2)
(6, 10, 'Diana', 'Pinto', datetime.timedelta(seconds=72000), 5)

In [23]:
delete_query_greek = """ DELETE FROM Menus WHERE Cuisine = 'Greek'"""
cursor.execute(delete_query_greek)
connection.commit()

In [24]:
menu = """ SELECT * FROM Menus;"""
cursor.execute(menu)
results = cursor.fetchall()
for result in results:
    print(result)

(2, 3, 'Italian')
(2, 9, 'Italian')
(2, 12, 'Italian')
(2, 15, 'Italian')
(3, 5, 'Turkish')
(3, 11, 'Turkish')
(3, 16, 'Turkish')
(3, 17, 'Turkish')

In [25]:
selects = """ SELECT BookingID, UPPER(CONCAT(GuestFirstName, " ", GuestLastName)) AS Guestfullname FROM bookings;"""
cursor.execute(selects)
results = cursor.fetchall()
for result in results:
    print(result)

(1, 'ANNA IVERSEN')
(2, 'JOAKIM IVERSEN')
(3, 'VANESSA MCCARTHY')
(4, 'MARCOS ROMERO')
(5, 'HIROKI YAMANE')
(6, 'DIANA PINTO')

In [26]:
sql_query = """ 
SELECT 
COUNT(BookingID) AS n_bookings,
SUM(BillAmount) AS total_sale,
AVG(BillAmount) AS avgerage_sale
FROM orders;"""

cursor.execute(sql_query)
results = cursor.fetchall()

print("Today's statistics")
for result in results:
    print("Number of bookings:", result[0])
    print("Total sales:", result[1])
    print("Average sales:", result[2])
    print(cursor.column_names)

Today's statistics
Number of bookings: 5
Total sales: 243
Average sales: 48.6000
('n_bookings', 'total_sale', 'avgerage_sale')

In [27]:
sql_query = """
SELECT CONCAT(GuestFirstName, " ", GuestLastName) AS Guestfullname, 
CASE 
    WHEN BookingSlot BETWEEN '15:00:00' AND '16:00:00' THEN "Late_Afternoon"
    WHEN BookingSlot BETWEEN '17:00:00' AND '18:00:00' THEN "Evening"
    WHEN BookingSlot BETWEEN '19:00:00' AND '12:00:00' THEN "Night"
ELSE "Time not available"
END AS BookingSlot
FROM bookings;"""

cursor.execute(sql_query)
results = cursor.fetchall()
for result in results:
    print(result)

('Anna Iversen', 'Time not available')
('Joakim Iversen', 'Time not available')
('Vanessa McCarthy', 'Late_Afternoon')
('Marcos Romero', 'Evening')
('Hiroki Yamane', 'Time not available')
('Diana Pinto', 'Time not available')

In [28]:
sql_query = """SELECT 
COUNT(BookingID) AS n_bookings,
HOUR(BookingSlot) AS Hour 
FROM Bookings
GROUP BY Hour
ORDER BY Hour ASC;"""

cursor.execute(sql_query)
results = cursor.fetchall()
print("""upcoming Bookings:\n""")
for result in results:
    print("Hour:", result[1], "<<>>", result[0], "Booking/s")

upcoming Bookings:

Hour: 15 <<>> 1 Booking/s
Hour: 17 <<>> 1 Booking/s
Hour: 18 <<>> 1 Booking/s
Hour: 19 <<>> 2 Booking/s
Hour: 20 <<>> 1 Booking/s

In [29]:
cursor.execute("DROP PROCEDURE IF EXISTS TopSpender;")

In [30]:
stored_procedure_query="""
CREATE PROCEDURE Topspender()
BEGIN SELECT bookings.BookingID, CONCAT(bookings.GuestFirstName,' ', bookings.GuestLastName) AS customers_name, orders.BillAmount
FROM bookings JOIN orders ON bookings.BookingID=orders.BookingID
WHERE BillAmount>=50
ORDER BY BillAmount DESC;
END
"""

In [31]:
cursor.execute(stored_procedure_query)

In [32]:
cursor.callproc("Topspender")

()

In [33]:
results = next(cursor.stored_results())
dataset = results.fetchall()

In [34]:
for data in dataset:
    print(data)

(1, 'Anna Iversen', 86)

In [35]:
cursor.execute("DROP PROCEDURE IF EXISTS NoArrival;")

In [36]:
storedProcedureQuery="""
CREATE PROCEDURE NoArrival()
BEGIN SELECT bookings.BookingID, CONCAT(bookings.GuestFirstName,' ', bookings.GuestLastName) AS customers_name, orders.BillAmount
FROM bookings LEFT JOIN orders ON bookings.BookingID=orders.BookingID
WHERE BillAmount IS NULL;
END
"""

In [37]:
cursor.execute(storedProcedureQuery)

In [38]:
cursor.callproc("NoArrival")

()

In [39]:
results = next(cursor.stored_results())
dataset = results.fetchall()

In [40]:
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]
    print(columns)

['BookingID', 'customers_name', 'BillAmount']

In [41]:
for data in dataset:
    print(data)

(6, 'Diana Pinto', None)

In [44]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

dbconfig = {
    
    "database":"little_lemon",
    "user":"root",
    "password":"Atdimpley$01"
}

try:
    pool = MySQLConnectionPool(pool_name = "ll_pool_a",
                              pool_size = 3,
                              **dbconfig)
    print("The connection pool is created with a name: pool.pool_name")
    print("The pool size is:", pool.pool_size)
    
except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

The connection pool is created with a name: pool.pool_name
The pool size is: 3

In [45]:
# Getting the connection from the connection pool "pool"
connection1 = pool.get_connection()

# Creating cursor object to communicate with entire MySQL database
cursor = connection1.cursor()

#SQL query
sql_query = "SELECT BookingId, GuestFirstName, GuestLastName FROM Bookings;"
cursor.execute(sql_query)
results = cursor.fetchall()

cols = cursor.column_names
print(cols)
for result in results:
    print(result)
    
connection1.close()

('BookingId', 'GuestFirstName', 'GuestLastName')
(1, 'Anna', 'Iversen')
(2, 'Joakim', 'Iversen')
(3, 'Vanessa', 'McCarthy')
(4, 'Marcos', 'Romero')
(5, 'Hiroki', 'Yamane')
(6, 'Diana', 'Pinto')

In [53]:
# Create a connection pool
from mysql.connector.pooling import MySQLConnectionPool
dbconfig = {
    "database":"little_lemon",
    "user" : "root",
    "password" : "Atdimpley$01"
}

pool = MySQLConnectionPool(pool_name = "ll_pool_a",
                           pool_size = 3, #default is 5
                           **dbconfig)

# List of the guests who want to connect to the database
guests = ["Sams", "John", "Singh", "Visha", "Alexander"]

import mysql.connector as connector
for guest in guests:
    try:
        guest_connected = pool.get_connection()
        print("[{}] is connected.\n".format(guest))
    except:
        print("No more connections are available.")
        print("Adding new connection in the pool.")
        
        connection=connector.connect(user="root", password="Atdimpley$01")
        pool.add_connection(cnx=connection)
        print("A new connection is added in the pool.\n")
        
        user_connected = pool.get_connection()
        print("[{}] is connected.\n".format(guest))

[Sams] is connected.

[John] is connected.

[Singh] is connected.

No more connections are available.
Adding new connection in the pool.
A new connection is added in the pool.

[Visha] is connected.

No more connections are available.
Adding new connection in the pool.
A new connection is added in the pool.

[Alexander] is connected.